<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav mat-elevation-z3"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>{{ store.menu.title }}</mat-toolbar>
    <mat-nav-list>
      <a
        *ngFor="let m of store.menu.children"
        mat-list-item
        routerLink="{{ m.path }}"
        routerLinkActive="active"
        >{{ m.title }}</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z5" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>KYB 프로젝트</span>
      <span style="flex: 1 1 auto"></span>
      <mat-slide-toggle (change)="changeDark($event)">{{
        store.isDark ? '어두움' : '밝음'
      }}</mat-slide-toggle>
    </mat-toolbar>
    <nav mat-tab-nav-bar>
      <a
        *ngFor="let m of store.menus"
        mat-tab-link
        routerLink="{{ m.path }}"
        [active]="store.menu.path === m.path"
      >
        {{ m.title }}
      </a>
    </nav>
    <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
      <div
        fxFlex="80"
        fxFlex.xs="100"
        [@routeAnimations]="prepareRoute(outlet)"
      >
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
    </div>
    <mat-grid-tile-footer>
      <mat-toolbar
        ><span style="flex: 1 1 auto"></span>Created by KYB</mat-toolbar
      >
    </mat-grid-tile-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
