<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- 'id', 'email', 'name', 'posts' -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>이름</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>이메일</th>
    <td mat-cell *matCellDef="let element">{{ element.email }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="posts">
    <th mat-header-cell *matHeaderCellDef>게시물</th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="element.posts.length === 1">{{
        element.posts[0].title
      }}</span>
      <span
        *ngIf="element.posts.length > 1"
        [matBadge]="element.posts.length"
        matBadgeOverlap="false"
        >{{ element.posts[0].title }}</span
      >
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    (click)="detail(row.id)"
  ></tr>
</table>
<div class="fab-bottom-right">
  <button
    (click)="add()"
    mat-fab
    color="primary"
    matTooltip="사용자 추가"
    aria-label="사용자 추가"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
